@model InmobiliariaMVC.Models.Inmueble

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles del Inmueble</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Direcci칩n</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Direccion)</dd>
        <dt class = "col-sm-2">Due침o</dt>
        <dd class = "col-sm-10">@(Model.Due침o.Nombre + " " + Model.Due침o.Apellido)</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdInmueble }) |
    <a asp-action="Index">Volver al Listado</a>
</div>